.registerPage {
    width: 585px;
    height: 818px;
    margin: 73px auto 157px;
}

.registerForm {
    height: 794px;
    border: 1px solid #dadce0;
    border-radius: 11px;
    padding: 68px 0 0 73px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.formTitle {
    color: #2f2f2f;
    font-size: 24px;
    font-family: "Arial-BoldMT";
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
}

.textInputSection {
    margin-top: 21.5px;
}

.formDescription {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 12px 0 29px 0;
}

.inputsLabel {
    margin-bottom: 10px;
    font-family: "NotoSansCJKkr-Regular";
    font-weight: normal;
    font-size: 12px;
}

.inputDescription {
    height: 42px;
    padding: 0 0 0 6px;
    font-family: "AppleSDGothicNeo-Regular";
    font-size: 12px;
    line-height: 35px;
    color: #ff0000;
}

.inputText, .inputSelect {
    width: 440px;
    height: 55px;
}

.memberType {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.MuiFormControlLabel-root {
    margin: 0 !important;
    padding: 0 !important;
}

.PrivateSwitchBase-root-2 {
    margin: 0 5px 0 0 !important; 
    padding: 0 !important;
}

.typeOption {
    width: 60px;
    font-size: 14px;
    margin: 0 5px 0 0;
}

.selectedRadio {
    font-weight: bold;
}

.currencySelect::after, .foundedYearSelect::after {
    position: static;
    height: 42px;
    padding: 0 0 0 6px;
    font-family: "AppleSDGothicNeo-Regular";
    font-size: 12px;
    line-height: 35px;
    color: #ff0000;
    content: "필수 입력사항입니다.";
}

.btnSection {
    margin-top: 5px;
}

.nextBtn {
    width: 91px;
    height: 37px;
}

.loginLink {
    font-family: "Roboto-Regular";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
    margin: 0 0 0 16px;
}

.languageSelect {
    margin: 6px 0 0 22px;
}